name: Python CI/CD
on:
  push:
    branches: [ "**" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_and_release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Display Author Info
        run: |
          echo "User: ${{ github.actor }}"
          echo "Email: ${{ github.event.pusher.email }}"
          echo "Message: ${{ github.event.head_commit.message }}"

      - name:  Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name:  Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          # Ми НЕ встановлюємо pytest, бо тестів поки немає

      - name:  Build & Lint (Перевірка коду)
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

      - name: Create Release
        if: github.ref == 'refs/heads/main'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.run_number }}
          name: Release v${{ github.run_number }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
